
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="material-icons">verified</i>
        </div>
        <p class="card-category">Questões Corretas</p>
        <h3 class="card-title"><%= @user_statistiscs.right_questions %></h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          Total de questões respondidas corretamente
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header card-header-danger card-header-icon">
        <div class="card-icon">
          <i class="material-icons">dangerous</i>
        </div>
        <p class="card-category">Questões Erradas</p>
        <h3 class="card-title"> <%= @user_statistiscs.wrong_questions %> </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          Total de questões respondidas incorretas
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="card card-stats">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">question_answer</i>
        </div>
        <p class="card-category">Total</p>
        <h3 class="card-title"><%= @user_statistiscs.total_questions %>
        </h3>
      </div>
      <div class="card-footer">
        <div class="stats">
          Total de questões repondidas no sistema
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header card-header-icon card-header-rose">
    <div class="card-icon">
      <i class="material-icons">assignment</i>
    </div>
    <h4 class="card-title ">Estatísticas de Usuário</h4>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        
        <tbody>
          <tr>
            <td>1</td>
            <td>Dakota Rice</td>
            <td>Niger</td>
            <td>Oud-Turnhout</td>
            <td>$36,738</td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>


