<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if admin_signed_in? %>
    Admin Logado - <%= current_admin.email %>
<% elsif user_signed_in? %>    
    Usuário Logado - <%= current_user.email %>
<% else %>
    Fazer Login como: 
    <%= link_to "Admin", admins_backoffice_admins_path %> 
        ou 
    <%= link_to "Usuário", users_backoffice_welcome_index_path %>
<% end %>